@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed');
@import url("https://fonts.googleapis.com/css?family=Rubik:300,400,500,700,900");
@import url('https://fonts.googleapis.com/css?family=Poppins');

@import url('https://fonts.googleapis.com/css?family=Marck+Script&display=swap');
@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah&display=swap');
//fonts variables

$font-roboto :'Roboto',
sans-serif;
$font-roboto-condensed :'Roboto Condensed',
sans-serif;
$font-poppins : 'Poppins',
sans-serif;
$font-marck : 'Marck Script',
cursive;
$font-gloria : 'Gloria Hallelujah',
cursive;
$font-rubik: 'Rubik',
sans-serif;
