
// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$white: #ffffff;
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f06178;
$red: #d63031;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #9fc58d;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$primary-theme: #00b894;
$secondary-theme:#2d3436;



$gray_color : #4c5667;
